<footer class="site-footer">
  {% include nav/site.html theme="footer" %}
  <div class="site-footer__wrap">
    <div>
      {% include components/logo-se.html placement="footer" small='true' %}
      {% include components/logo-partner.html placement="footer" small='true' %}
    </div>
    <div class="space--sm text--sm content-spacing">
      <p>© Copyright <span class="js-year">2018</span> Secret Escapes</p>
      {% if page.layout == "overview" or page.layout == "category" %}<p class="width width--md">* Full price items only. Valid from 07:00 on 4 November 2019 until 23:59 on 6 December 2019. Single use per customer. Cannot be used in conjunction with any other offers or promotions.</p>{% endif %}
    </div>
  </div>
</footer>