// general styles for the project that wouldn't be a reuseable component

.tab {
  &__sections {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $f-blue-lighter;
    margin-bottom: $s4;
  }
  &__section {
    display: inline-block;
    width: 33.33%;
    padding: $s2 $s0 $s0;
    text-align: center;
    color: $f-blue;
    @include transition;
    &:hover { background-color: $f-blue-lightest }
  }
  &__section.active { background-color: $f-blue-lighter; }
  &__contents { overflow: hidden; }
  &__content {
    display: none;
    &.active { display: block; }
  }
  // show all tab content without headers with no js
  .no-js &__sections { display: none; }
  .no-js &__content { display: block; }
}


// temp bg
.overview .banner__bg { background-image: url('../img/content/overview/bg.jpg'); }
.city .banner__bg { background-image: url('../img/content/city/bg.jpg'); }
.coast .banner__bg { background-image: url('../img/content/coast/bg.jpg'); }
.country .banner__bg { background-image: url('../img/content/country/bg.jpg'); }
.competition .banner__bg { background-image: url('../img/content/competition/bg.jpg'); }
.banner__bg { background-image: url('../img/img.jpg'); }