---
layout: default
---
{% assign category-offers = site.data.offers[page.id] | sort: 'price' %}

<div class="vpad--xxl bg--light">
  <div class="container">

    <div class="row row--valign-center">
      <div class="col col--7">
        <p class="text--xxl">{{page.long-intro}}</p>
        <p class="text--xxl">{{page.long-intro}}</p>
      </div>
      <div class="col col--5">
        <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/img.jpg');"></div>
        <div class="row row--6-6 row--no-gutters">
          <div class="col">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/img.jpg');"></div>
          </div>
          <div class="col">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/img.jpg');"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="space--xxxl"></div>

    <div class="tab">
      <div class="tab__sections">
        {% for item in page.products %}
          <a class="js-tab-section tab__section" href="#{{item.id}}" data-tab-content="{{item.id}}"><span class="title title--xxxs">{{item.name}}</span></a>
        {% endfor %}
      </div>
      <div class="tab__contents">
        {% for item in page.products %}
          <div class="js-tab-content tab__content" data-tab-content="{{item.id}}">
            <div class="row row--gutters-sm row--sm-6-6 row--lg-4-4-4 row--xl-3-3-3-3">
              {% for product in item.product-list %}
                <div class="col text--center">
                  <div class="bg-img bg-img--1-1" style="background-image: url('{{site.img}}/img.jpg');">
                    <a href="{{product.link}}" class="bg-img__link"></a>
                  </div>
                  <div class="text--xxl space--xs"><a href="{{product.link}}">{{item.name}} {{product.name}}</a></div>
                  <div class="text--bold"><a href="{{product.link}}">£{{product.price}}</a></div>
                </div>
              {% endfor %}
              <div class="space--xl text--center">
                <a href="{{item.link}}" class="btn btn--outline btn--outline-orange">See {{item.name}} products</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

<div class="container vpad--xxl">
  <div class="row row--xl-6-6 row--gutters-lg">
    {% for offer in category-offers %}
      <div class="col">
        {% include offer/offer.html %}
      </div>
    {% endfor %}
  </div>
</div>