---
layout: default
---

{% assign category-pages = site.html_pages | where: "layout", "category" %}

<div class="vpad--xl bg--blue text--white">
  <div class="container">
    <div class="width width--lg text--xl text--normal text--center">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

{% for page in category-pages %}
  <div class="harvey{% cycle '', ' harvey--swap' %} bg--blue-light">
    <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/nav.jpg');">
      <a class="harvey__link" href="{{site.baseurl}}{{page.url}}"></a>
    </div>
    <div class="harvey__text">
      <h3 class="title title--color title--xxl">{{page.title}}</h3>
      <p class="text--xl">{{page.intro}}</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}{{page.url}}" class="btn btn--blue">Discover More</a>
    </div>
  </div>
{% endfor %}